@uservice-lib:registry=https://viewsonic-ssi.pkgs.visualstudio.com/_packaging/uservice/npm/registry/

always-auth=true

; begin auth token
//viewsonic-ssi.pkgs.visualstudio.com/_packaging/uservice/npm/registry/:username=viewsonic-ssi
//viewsonic-ssi.pkgs.visualstudio.com/_packaging/uservice/npm/registry/:_password=RzdWZzJpMk55WFprTG1Wb21DT1ZtSWN3Q2RBMzI4UW80aG5rOGVPbHlnM1V2MjBMMzhveUpRUUo5OUJDQUNBQUFBQXl3c0NhQUFBU0FaRE8zQ2xW
//viewsonic-ssi.pkgs.visualstudio.com/_packaging/uservice/npm/registry/:email=npm requires email to be set but doesn't use the value
//viewsonic-ssi.pkgs.visualstudio.com/_packaging/uservice/npm/:username=viewsonic-ssi
//viewsonic-ssi.pkgs.visualstudio.com/_packaging/uservice/npm/:_password=RzdWZzJpMk55WFprTG1Wb21DT1ZtSWN3Q2RBMzI4UW80aG5rOGVPbHlnM1V2MjBMMzhveUpRUUo5OUJDQUNBQUFBQXl3c0NhQUFBU0FaRE8zQ2xW
//viewsonic-ssi.pkgs.visualstudio.com/_packaging/uservice/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
